<div class="row">
    <div class="col-md-12">
        <img src="" alt="" class="image-responsive"/>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h1> Recipie Name</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="btn-group">
            <button class="btn btn-primary dropdown-toggle">
                Manage Racipie 
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="#">Add Ingridients to shoping cart</a> </li>
                <li><a href="#">Edit Recipie </a> </li>
                <li><a href="#">Delete Recipie </a> </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        Discription
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        Ingridients
    </div>
</div>